# Remember: if your password has an @ symbol, URL-encode it as %40
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.igrzdsl.mongodb.net/hospitalPharmacyDB?retryWrites=true&w=majority
{models,routes,config}
